

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}


.info {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}

.info-info{
  list-style: none;
  margin: 1rem auto;
  margin-left: 1rem;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}